.textContainer {
  width: 60vw;
	background-color: #fbf1e6;
  margin: 0px auto;
  padding: 16px 0;
}

.title {
  text-align: center;
  font-weight: bold;
}

.textContainer p, .textContainer ul{
  line-height: 20px;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .textContainer {
    width: 70vw;
  }
}

@media screen and (max-width: 768px) {
  .textContainer {
    padding: 0 20px;
    width: 80vw;
  }
}

@media screen and (max-width : 480px) {
  .textContainer {
    padding: 0 20px;
    width: 100vw;
  }
}